[submodule "libs/type_utils"]
	path = libs/type_utils
	url = https://github.com/KaixoCode/type_utils.git
[submodule "libs/list_comprehension"]
	path = libs/list_comprehension
	url = https://github.com/KaixoCode/list_comprehension.git
[submodule "libs/serializer"]
	path = libs/serializer
	url = https://github.com/KaixoCode/serializer.git
[submodule "libs/pack_utils"]
	path = libs/pack_utils
	url = https://github.com/KaixoCode/pack_utils.git
